<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bin.spark.mapper.RecommendDOMapper">
  <resultMap id="BaseResultMap" type="com.bin.spark.model.RecommendDO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="recommend" jdbcType="VARCHAR" property="recommend" />
  </resultMap>
  <sql id="Base_Column_List">
    id, recommend
  </sql>

</mapper>