<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bin.spark.mapper.UserModelMapper">
  <resultMap id="BaseResultMap" type="com.bin.spark.model.UserModel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="gender" jdbcType="INTEGER" property="gender" />
  </resultMap>
  <sql id="Base_Column_List">
    id, created_at, updated_at, telephone, password, nick_name, gender
  </sql>
  <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="queryByPhoneAndPassword" resultType="com.bin.spark.model.UserModel">
      select <include refid="Base_Column_List" />
      from user
      where telePhone =#{telephone}
      and password =#{password}
    </select>

</mapper>